* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #fff;
}

.mainContainer {
    display: flex;
    height: 100%;
    /* align-items: center; /
    / padding: 20px; /
    / margin: 20px; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #054A5A;
    /* background-color: #27363d; */
    /* background: linear-gradient(179deg, #F1F5FE 3.68%, #A0ADB6 49.65%, #C8CCD7 69.82%, #C7CED8 95.64%); */
}

#myInfo{
    min-width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 32px 12px;
    background-color: darkslategray;
    border-radius: 64px;
    height: 80%;
    padding: 50px;
    margin-top: 72px;
    margin-left: 64px;
    margin-right: 56px;
    /* background: linear-gradient(180deg, #fff0f0, #ddd, rgb(185, 234, 255)) ; */
    /* background-color: #27363d; */

}

#pp {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    object-fit: cover;
}

.loc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.loc i {
    font-size: x-large;
    margin-left: 16px;
}

h1, h2 {
    color: #ffff;
    margin-bottom: 10px;
    width: 100%;
}



#location, #following, #followers, #bio {
    color: #ffff;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}


#bio {
    padding: 16px 0;
    font-weight: 500;
}

#url {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#url:hover {
    background-color: #0056b3;
}

#allRepo {
    width: 100%;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 12px;
    overflow: scroll;
    background: linear-gradient(179deg, #F1F5FE 3.68%, #A0ADB6 49.65%, #C8CCD7 69.82%, #C7CED8 95.64%);
}

#allRepo h1{
    color: black;
    padding: 10px;
}

.repo {
    background-color: #054A5A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    /* color: #fff; */
    transition: transform 0.3s ease;

}

.repo:hover {
    transform: scale(1.03);
}

.repo_name {
    font-size: 22px;
    font-weight: bold;
    color: #ffff;
}

.language {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.language p {
    margin-right: 5px;
    color: #fff;
}

.star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
   
}

.rate,
.link {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffff;
}

.link a {
    margin-left: 5px;
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #7a7070;
}
.fa-star:before {
    color: white;
   
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 12px;
}



@media (max-width: 768px) {
    .mainContainer {
        margin: 20px 0;
    }

    #pp {
        width: 100px;
        height: 100px;
    }
}

@media (width < 1000px) {
    .mainContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #myInfo{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-wrap: wrap;
        padding: 16px 8px;
    }
}